<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nationsköket</title>
  <link rel="stylesheet" href="css/kitchen.css">
  <script src="data/menu.js"></script>
  <script src="js/kit_view.js"></script>
  <script>
    window.onload = docLoaded(indexPageLoaded);
  </script>
</head>
<body>
  <section id="orders">
  <div id="orderOnWay">
    <h1>{{ uiLabels.ordersInQueue }}</h1>
    <ol>
      <li v-for="(item, key) in orders" v-if="!item.done"> 
        <button v-on:click="markDone(key)">
        {{ key }} : {{ item.orderItems.join(', ') }} 
        
          <!--{{uiLabels.ready}}-->
        </button>
      </li>
    </ol>
      <div id="divorderDone">
        <h1>{{ uiLabels.ordersFinished }}</h1>
    <ol>
      <li v-for="(item, key) in orders" v-if="item.done"> 
        {{ key }} : {{ item.orderItems.join(', ') }}
      </li>
    </ol>
    </div>
  </div>
  
  </section>
  <section id="kitchenRight">
  <img id="picpic" src="pub_map_v1.jpg" height="300" width="300">
  
  <div id="order">
    <h3 id="batch">Batches </h3>
  </div>
  
  </section>

  <div id="GoBack">
  <button onclick="goBack()" id="Kbutton">Tillbaka till Matsalen</button>
  </div>
  <script>
  function goBack() {
    window.history.back();
  }
  </script>




  <script src="js/kit_view.js"></script>
  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/nationPub.js"></script>
  <!--<script src="js/diner.js"></script>-->
  <script src="js/kitchen.js"></script>

  

</body>
</html>