@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

head{
 margin: 5px 12px 5px 12px;  
 padding: 8px; 
 height: 200px;
 overflow:hidden;
}
/*
body{
	/*background-image: url("https://s-media-cache-ak0.pinimg.com/564x/a9/7a/61/a97a61d1722cf9490a9afdb2b6b9b207.jpg");
	/*https://s-media-cache-ak0.pinimg.com/564x/4d/76/78/4d76780ab476229a2a26018f82bac283.jpg
}
*/
h1{
 color: black; 
 padding: 50px 45px 20px;
 }

section{
    margin: auto 100px;
    text-align: center;
}


/*
ol {
    background: #ff9999;
    padding: 20px;
}

ul {
    background: #3399ff;
    padding: 20px;
}
*/
#orderOnWay{
}

#doneButton{
    width: 800px;
    height:100px;
}

#batch{
	background-color: white;
    border: 10px inset black;
}

#orders{
	float: left;
	background-color: white;
    border: 10px groove black;
}

#picpic{
	border: 10px groove black;

}

#kitchenRight{
     float: right;  
}


#GoBack{
   float: bottom;
   right:0;
   bottom:0;
   /*border:1px solid #f00;*/
   font-size: 30;
   font-style: bold;
    
}

#Kbutton{
    font-size: 40%;
    width: 30em;
    height:15em;
}